
.bc{

background: brown;
}

.mainh{

    color:skyblue;
}

#imgc{
    float:left;
    margin : auto;
    width:45%;
    margin:auto;
}

.maindiv{
    width:1000px;
    height:800px;
    margin:auto;
    background-color: antiquewhite;
}
.hclass
{
    width:1000px;
    height:150px;
    margin:auto;
}

.content{
    width


}








