.bc{

background: teal;
}

.mainh{

    color:skyblue;
}

.loginc{
    float:right;
    margin:auto;
    border-color: black;
}

#imgc{
    float:right;
    margin:auto;
    width:10%;
    margin:auto;
}

.maindiv{
    width:800px;
    height:auto;
    margin:auto;
    background-color: antiquewhite;
}
.head{
    text-align: center;
}

.signupl{
    float:right;
}

.box{
    color:teal;
    font-size:40;  
    text-align:center;
    border: 5px solid blanchedalmond;
    background: blanchedalmond;
}

.sneakerbox{
    border: 5px solid black;
}

.simgbox{
    width:150px;
    margin:auto;
    width:150px;
}

.box1{
    border: 5px solid blanchedalmond;
    background: blanchedalmond;
}

.this{
    width:800px;
    height:100px;
    margin:auto;
    background:white;

}

.incase{
    width:400px;
    height:50px;
    margin:auto;
    border:10px solid black;
}

.hclass
{
    width:800px;
    height:150px;
    margin:auto;
}

.content{
    width:800px;
    height:800px;
    margin:auto;
    background:grey;
}

.sidebar{
    width:200px;
    height:800px;
    float: left;
    background:brown;
}

.footer{
    width:800px;
    height:100px;
    background:black;
    clear:both;
}

.infoimg{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;

}








